# Android
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# IntelliJ/Android Studio
.idea/
*.iml
*.iws
*.ipr

# Node / Express
/mock-backend/node_modules
/mock-backend/.env

# OS
.DS_Store
Thumbs.db
