*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
.DS_Store
ARCHITECTURE_DECISIONS.md
PROJECT_STRUCTURE.md
SCALING_DETAILS.md
/build
/captures
.externalNativeBuild
.cxx
local.properties
